includes:
    - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    # - phar://phpstan.phar/conf/bleedingEdge.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    level: max

    #cache:
    #    nodesByStringCountMax: 0
    parallel:
        maximumNumberOfProcesses: 32
        jobSize: 20
        minimumNumberOfJobsPerProcess: 2


	#

    paths:
        - ./Modules
        - ./Themes

    ignoreErrors:
    #    - '#Unsafe usage of new static#'
        - '#PHPDoc tag @mixin contains unknown class #'
        - '#Static call to instance method Nwidart#'
        - '#is used zero times and is not analysed#'
        - "#^Unsafe usage of new static#"
        - identifier: missingType.generics
        - identifier: missingType.iterableValue


    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/Tests/*
        - ./Modules/*/phpinsights.php
        - ./Modules/*/rector.php
        - ./Modules/*/packages/*
        - ./Modules/*/tests/*
        - ./Modules/*/Tests/*
        - ./Modules/Xot/*



    bootstrapFiles:
        - ./phpstan_constants.php
        - ./vendor/amenadiel/jpgraph/src/config.inc.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: ../cache/build/phpstan

    checkUnusedViews: false
    checkModelProperties: false
    # checkMissingIterableValueType: false
    # checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkOctaneCompatibility: false
